html {
  font-family: Avenir, Tahoma, sans-serif;
  font-size: 1rem;
  margin: 3rem;
}

body {
  margin: 0 auto;
  width: 80%;
  line-height: 1.6;
}

li {
  margin: 0.6rem 0;
}

h1 {
  margin-bottom: 3rem;
}

a {
  color: rgb(61, 149, 206);
}

pre[class*=language-]:after,
pre[class*=language-]:before {
  box-shadow: none !important;
}

code {
  line-height: 1.3 !important;
}

.nostyle-header {
  margin-top: 3rem;
  margin-bottom: 2rem;
}